/*Global*/
.container-fluid {
    padding: 0 20px;
    margin-top: 16px;
}

.icon {
    height: 30px;
    width: 25%;
    border: 1px solid black;
}

button {
    height: 30px;
}

/*Mobile Nav*/
.mobile-nav {
    padding: 8px 0px;
}
.nav-subhead {
    border: 1px solid black;
    padding: 8px 0;
}

.nav-subhead p {
    margin-bottom: -8px;
    line-height: 1.5;
    padding-bottom: 8px;
}

.nav-item {
    text-align: center;
}

/*Left Nav*/

.nav-header {
    padding: 0.5rem 1rem;
}

.nav-link {
    border: 1px solid black;
}

.spacer-nav {
    height: 38.5vh;
}

/*Center Content*/

.main-content {
    padding: 4px;
}

.course-overview {
    margin: 0px;
    padding: 0px !important;
}

.class-card {
    height: 154px;
    border: 1px solid black;
}

.class-card + .class-card {
    margin-top: 4px;
}

.status-card {
    height: 235px;
    border: 1px solid black;
}

.prog-cards {
    padding: 0 14px;
}

.progress-card {
    height: 264px;
    border: 1px solid black;
    text-align: center;
}

.readiness-card {
    height: 264px;
    border: 1px solid black;
}

.btn-join {
    width: 94px;
}

/*Right Sidebar*/
.col-icon {
    width: 48px;
}

.icon {
    width: 48px;
}

.cal-bar {
    position: relative;
    border: 1px solid black;
    justify-content: space-between;
}

.btn-group {
    right: 0;
    top: 5px;
}

.calendar {
    border: 1px solid black;
    max-height: 279px;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
  }

.table {
    max-width: none;
    table-layout: fixed;
    word-wrap: none;
}

th {
    font: 12px 600 Hevletica;
    text-align: center;
}

.hide-cal {
    display: none;
}

td {
    font: 10px Hevletica;
}

.task-item {
    height: 85px;
    border: 1px solid black;
}

.task-item + .task-item {
    margin-top: 4px;
}

.event-item {
    height: 34px;
    border: 1px solid black;
}
/*Media Queries*/

@media (min-width: 769px) {
    .mobile-nav {
        display: none;
    }
}
@media (max-width: 768px) {
    .right-sidebar, .side-nav {
        display: none;
    }
}