/*Global*/
.container-fluid {
    padding: 0 20px;
    margin-top: 16px;
    background-color: black;;
}

.body {
    color: white;
    font: 16px "Helvetica", sans-serif
}

.body-sm {
    color: white;
    font: 12px "Helvetica", sans-serif
}

a {
    color: white;
    font: bold 16px "Roboto", sans-serif
}

h1 {
    color: white;
    font: bold 30px "Roboto", sans-serif
}

h2 {
    color: white;
    font: bold 30px "Roboto", sans-serif
}

.icon {
    height: 30px;
    width: 25%;
    border: 1px solid black;
}

button {
    border-radius: 6px;
    font-size: 12px;
}

/*Mobile Nav*/
.mobile-nav {
    padding: 8px 0px;
}
.nav-subhead {
    border: 1px solid black;
    padding: 8px 0;
}

.nav-subhead p {
    margin-bottom: -8px;
    line-height: 1.5;
    padding-bottom: 8px;
}

.nav-item {
    text-align: center;
}

/*Left Nav*/

.side-nav {
    background-color: #2E2E2E;
}

.nav-header {
    padding: 0.5rem 1rem;
}

.nav-link {
    border: 1px solid black;
}

.spacer-nav {
    height: 38vh;
}

/*Center Content*/

.card {
    background-color: #2E2E2E;
    border-radius: 10px;
}

.main-content {
    padding: 4px;
}

.course-overview {
    margin: 0px;
    padding: 0px !important;
}

.course-status {
    margin: 0px;
    padding: 0px !important;
}

.class-card {
    padding: 15px 0px;
}
.prog-cards {
    margin: 0px;
    padding: 0px !important;
}
.progress-card {
    text-align: center;
}

.btn-join {
    width: 89px;
    background-color: #0086CF;
    border: none;
}

.btn-resources {
    width: 182px;
    background-color: #FEAC3C;
    border: none;
}

.grade {
    width: 110px;
    justify-content: center;
}

.btn-grades {
    width: 111px;
    background-color: #01aa4f;
    border: none;
}

.btn-attendance {
    width: 111px;
    background-color: #964d9f;
    border: none;
    color: white; 
} 

.attendance {
    width: 100px;
    padding-bottom: 10px;
}

hr {
    border-top: 1px solid #b7b7b7;
}

/*Right Sidebar*/

.right-sidebar {
    background-color: #2E2E2E;
    min-height: 100%
}

.col-icon {
    width: 48px;
}

.icon {
    width: 48px;
}

.cal-bar {
    position: relative;
    border: 1px solid black;
    justify-content: space-between;
}

.btn-group {
    right: 0;
    top: 5px;
}

.calendar {
    border: 1px solid black;
    max-height: 279px;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
  }

.table {
    max-width: none;
    table-layout: fixed;
    word-wrap: none;
}

th {
    font: 12px 600 "Hevletica", sans-serif;
    color: white;
    text-align: center;
}

.hide-cal {
    display: none;
}

td {
    font: 10px "Hevletica", sans-serif;
    color: white;
}

.task-item {
    height: 85px;
    border: 1px solid black;
}

.task-item + .task-item {
    margin-top: 4px;
}

.event-item {
    height: 34px;
    border: 1px solid black;
}
/*Media Queries*/

@media (min-width: 769px) {
    .mobile-nav {
        display: none;
    }
}
@media (max-width: 768px) {
    .right-sidebar, .side-nav {
        display: none;
    }
}